<h2>Add edit todo</h2>
    <form action= '#'> 

    <input class= "text-input" type="text" id="test1" placeholder= "add new todo" value="< = @todo.description % ">
    <input type= "number" class="text-input" id="test2" placeholder="pomodoros" step="3">
    <input id ="add-new-todo-button" type="submit" value="add todo">
    </form>