
         <h3> todo #<%=params[:id] %> </h3>
        <h2> <%= @todo.description %> </h2>
        <span class="text-input"> <%= @todo.pomodoro_estimate%> </span>
        <a href= "../new"> edit</a>
        <a href= "../index"> cancel</a>
        
     
 