
         <h3> todo #<%=params[:id] %> </h3>
        <h2> <%= @todo_description %> </h2>
        <span class="text-input"><do=@pomodoro-estmate/></span>
        <a href= "git@github.com:brodytb/todo_app_front_end.git"> edit</a>
        <a href= "index.html"> cancel</a>
     
 